[mysqld]
bind-address = {{ mysql_cnf_bind_address }}
port = {{ mysql_cnf_port }}
datadir={{ mysql_cnf_datadir }}
socket={{ mysql_cnf_socket }}
{% for item in mysql_cnf_mysqld_other %}
{{ item }}
{% endfor %}

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# Settings user and group are ignored when systemd is used. If you need to run
# mysqld under a different user or group, customize your systemd unit file for
# mariadb according to the instructions in
# http://fedoraproject.org/wiki/Systemd

[mysqld_safe]
log-error={{ mysql_cnf_log_error }}
pid-file={{ mysql_cnf_pid_file }}

# Include all files from the config directory
!includedir /etc/my.cnf.d
